* {
  font-family: monospace;
  margin: 0;
  padding: 3px; /* temp padding */
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: #1f2937;
  color: lightgrey;
  font-size: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

a {
  text-decoration: none;
  color: darkgrey
}